*{
    
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
}
.body{
    display: flex;
}
.main{
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: 4rem;
}
.container{
     border: 2px solid red; 
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin:5rem;
}
.menugame{
    display:flex;
    justify-content: space-around;
    margin: 5rem;
    font: 1em sans-serif;
    font-size: 35px;
}
.Features img{
    margin: 29px;
    justify-content: space-between;
    margin-left: 19rem;
    width: 100%;
    max-width: 20%;
}
.Text span{
    justify-content: center;
    text-align: center;
}
.Text{
    display: flexbox;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    
}